<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>/home/waddi/P/pajak-simulator/target/pajak-simulator-1.0-SNAPSHOT.jar</jar>
  <outfile>/home/waddi/P/pajak-simulator/Perpajakan.exe</outfile>
  <errTitle>Please install java</errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl>http://java.com/download</downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>/home/waddi/P/pajak-simulator/src/main/resources/images/logo.ico</icon>
  <singleInstance>
    <mutexName>Perpajakan</mutexName>
    <windowTitle>Perpajakan</windowTitle>
  </singleInstance>
  <jre>
    <path></path>
    <bundledJre64Bit>false</bundledJre64Bit>
    <bundledJreAsFallback>false</bundledJreAsFallback>
    <minVersion>1.8.0</minVersion>
    <maxVersion></maxVersion>
    <jdkPreference>preferJre</jdkPreference>
    <runtimeBits>64/32</runtimeBits>
  </jre>
  <versionInfo>
    <fileVersion>1.0.0.0</fileVersion>
    <txtFileVersion>1.0.0.0</txtFileVersion>
    <fileDescription>Perpajakan Bappeda</fileDescription>
    <copyright>NIL</copyright>
    <productVersion>1.0.0.0</productVersion>
    <txtProductVersion>1.0.0.0</txtProductVersion>
    <productName>Perpajakan</productName>
    <companyName>Pencari Bonus</companyName>
    <internalName>Perpajakan</internalName>
    <originalFilename>Perpajakan.exe</originalFilename>
  </versionInfo>
</launch4jConfig>